.flexRowContent--btn-product :global(.vtex-button){
  background-color: #01ad32;
  border: none;
  font-family: 'Roboto', sans-serif;
  border-radius: 50px;
  height: 65px;
  max-width: 320px;
}

.flexRowContent--btn-product :global(.vtex-button):hover{
  background-color: #00ca3a;
}

.flexRowContent--btn-product :global(.vtex-add-to-cart-button-0-x-buttonText) {
  color: white;
  font-weight: bold!important;
  font-size: 0;
}

.flexRowContent--btn-product :global(.vtex-add-to-cart-button-0-x-buttonText)::before {
  content: "Comprar";
  font-size: 22px;
  text-transform: uppercase;
}

:global(.vtex-store-components-3-x-swiper-pagination){
  bottom: -5px;
}

@media(max-width: 767px) {
  .flexRowContent--btn-product :global(.vtex-add-to-cart-button-0-x-buttonText)::before {
    font-size: 18px;
  }

  .flexRowContent--btn-product :global(.vtex-button){
    height: 55px;
    max-width: 250px;
  }

}

.flexRowContent--btn-product .flexRowContent .stretchChildrenWidth:last-child{
  width: max-content!important;
}

.vtex-flex-layout-0-x-flexRow :global(.vtex-flex-layout-0-x-flexRowContent){
  background: red!important;
}

.flexRow--product-main :global(.vtex-product-price-1-x-installments){
  font-size: 16px;
  padding: 0 0 5px;
  margin-top: 0;
  display:flex;
  align-items:center;
}

:global(.vtex-flex-layout-0-x-flexRowContent--atributos){
  margin: 0;
}

@media only screen and (max-width: 1024px){
  .flexRowContent--product-main{
    display: flex;
    flex-direction: column;
    align-items:center
  }

  .flexRowContent--product-main .stretchChildrenWidth{
    width: 100%!important;
  }

  .flexRowContent--btn-product .flexRowContent .stretchChildrenWidth:last-child{
    width: 100%!important;
  }

  .flexRowContent--btn-product .stretchChildrenWidth .flexRowContent{
    margin-bottom: 24px;
  }
  .flexRowContent.flexRowContent--banner-plp {
    padding-top: 15px;
  }
}

.flexCol--section-shelf{
  margin: 10px 0;
  border: 1px dashed #ccc;
  border-radius: 12px;
  padding: 10px 20px 0;
}

.flexRowContent--section-shelfs :global(.vtex-shelf-1-x-relatedProducts--shelf-one){
  margin: 5px 0 10px;
}

.flexRowContent--section-shelfs{
  display: flex;
  flex-direction: column;
}

.flexRowContent--section-shelfs .stretchChildrenWidth{
  width: 100%!important;
  padding: 0!important;
}

.flexRowContent--section-shelfs :global(.vtex-shelf-1-x-relatedProducts--shelf-two){
  margin-top: 24px;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
}

.flexRowContent--section-shelfs :global(.vtex-shelf-1-x-relatedProducts--shelf-three){
  margin-top: 24px;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
}

.flexCol--section-shelf :global(.vtex-rich-text-0-x-wrapper--title-shelf-2){
  background: #e5e5e5;
  width: 530px;
  display: inline;
  height: 20px;
  position: absolute;
  top: 12px;
  border-radius: 20px;
  padding: 15px 10px;
  bottom: 90%;
  left: 50%;
  transform: translateX(-50%);
}

.flexRowContent--section-shelfs :global(.vtex-rich-text-0-x-paragraph--title-shelf){
  margin: 0;
  color: #333;
  line-height: 18px;
}

:global(.vtex-rich-text-0-x-headingLevel2--title-shelf),
:global(.vtex-rich-text-0-x-headingLevel2--title-shelf){
  font-size: 16px;
  margin: 0;
}

.flexRowContent--section-shelfs :global(.vtex-rich-text-0-x-strong--title-shelf) {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.flexRowContent--section-shelfs :global(.vtex-rich-text-0-x-paragraph--title-shelf-2){
  display: flex;
  margin: 0;
  top: 1px;
  position: absolute;
}

.flexRowContent--section-shelfs :global(.vtex-shelf-text-01) {
  font-size: 14px;
  display: inline-block;
}

.flexRowContent--section-shelfs :global(.vtex-shelf-text-02){
  font-size: 14px;
  margin-left: 5px;
  font-weight: bold;
}

.flexRowContent--section-shelfs :global(.vtex-shelf-1-x-arrowLeft--shelf-one),
.flexRowContent--section-shelfs :global(.vtex-shelf-1-x-arrowLeft--shelf-two),
.flexRowContent--section-shelfs :global(.vtex-shelf-1-x-arrowLeft--shelf-three){
  left: -17px!important;
  color: #777;
}

.flexRowContent--section-shelfs :global(.vtex-shelf-1-x-arrowRight--shelf-one),
.flexRowContent--section-shelfs :global(.vtex-shelf-1-x-arrowRight--shelf-two),
.flexRowContent--section-shelfs :global(.vtex-shelf-1-x-arrowRight--shelf-three){
  right: -17px!important;
  color: #777;
}

.flexRowContent--section-shelfs :global(.vtex-slider-0-x-dotsContainer){
  bottom: -10px;
}

.flexRowContent--section-price {
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.flexRowContent--section-price .flexRowContent {
  margin-bottom: 0;
}

:global(.vtex-store-components-3-x-container) {
  max-width: 1180px;
}

:global(.vtex-flex-layout-0-x-flexRow--banners)
 :global(.vtex-store-components-3-x-container) {
  max-width: 1180px;
}

:global(.vtex-stack-layout-0-x-stackContainer--product) :global(.vtex-flex-layout-0-x-flexRowContent) {
  flex-direction: column;
}

:global(.vtex-flex-layout-0-x-flexRow--btn-product) {
  margin: 20px 0 -5px;
}

.flexCol--links-static {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.flexColChild--links-static {
  margin-right: 5px;
  margin-bottom: 10px;
}

.flexRow--productSpecificationGroup {
  margin-bottom: 30px;
}

:global(.vtex-slider-0-x-sliderFrame) {
  justify-content: center;
}

