.container :global(.vtex-button__label) {
  padding: 5px 8px 5px 26px!important;
}

:global(.vtex-login-2-x-label) {
  font-size: 12px;
  color: #fff;
  font-weight: 400;
  text-transform: none;
  width: 100px;
  text-align: left;
  padding-left: 24px;
  line-height: 15px;
}

.container :global(.vtex-button) {
  border: none;
  transition: all 0.2s ease;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cpath d='M437.02,330.98c-27.883-27.882-61.071-48.523-97.281-61.018C378.521,243.251,404,198.548,404,148 C404,66.393,337.607,0,256,0S108,66.393,108,148c0,50.548,25.479,95.251,64.262,121.962 c-36.21,12.495-69.398,33.136-97.281,61.018C26.629,379.333,0,443.62,0,512h40c0-119.103,96.897-216,216-216s216,96.897,216,216 h40C512,443.62,485.371,379.333,437.02,330.98z M256,256c-59.551,0-108-48.448-108-108S196.449,40,256,40 c59.551,0,108,48.448,108,108S315.551,256,256,256z' fill='%23eee' /%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 26px;
  background-position: left;
  background-position-x: 10px;
  border-radius: 7px;
  margin-right: 15px;
}

.container :global(.vtex-button):hover,
.container :global(.vtex-button):focus {
  background-color: #0f62c0;
  border: none;
  outline: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cpath d='M437.02,330.98c-27.883-27.882-61.071-48.523-97.281-61.018C378.521,243.251,404,198.548,404,148 C404,66.393,337.607,0,256,0S108,66.393,108,148c0,50.548,25.479,95.251,64.262,121.962 c-36.21,12.495-69.398,33.136-97.281,61.018C26.629,379.333,0,443.62,0,512h40c0-119.103,96.897-216,216-216s216,96.897,216,216 h40C512,443.62,485.371,379.333,437.02,330.98z M256,256c-59.551,0-108-48.448-108-108S196.449,40,256,40 c59.551,0,108,48.448,108,108S315.551,256,256,256z' fill='%23eee' /%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 26px;
}

.container :global(.vtex-button):hover :global(.vtex-login-2-x-label),
.container :global(.vtex-button):focus :global(.vtex-login-2-x-label) {
  color: #fff;
}

:global(.vtex-login-2-x-profile) {
  color: #fff;
  font-weight: 400;
  margin-left: 10px;
  text-transform: capitalize;
}

@media only screen and (max-width: 1024px) {

  .container :global(.vtex-button){
    filter: brightness(0.3);
    background-size: 20px;
  }

  .container :global(.vtex-button__label){
    padding-left: 15px!important;
  }

  .profileIcon--mobile {
    color: #fff;
  }
  .label {
    display: block;
    color: #666;
    font-weight: 500;
    font-size: 14px;
    text-transform: initial;
    padding-left: 25px;
  }

  .container :global(.vtex-button) {
    background-position-x: 6px;
    margin-left: 8px;
  }

}
