.container {
    padding: 0!important;
    text-align: center;
    display: block;
    margin-top: -5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #fefefe;
}
.highStockText::after {
    content: "Disponível";
    display: inline-block;
    width: 15px;
    height: 6px;
    position: relative;
    font-weight: 600;
}