.listPrice {
  color: #727273;
  margin-bottom: .25rem;
  font-size: 1rem;
}

.installments {
  font-size: 12px;
  color: #666;
  font-family: 'Roboto', sans-serif;
}

.sellingPriceValue--summary {
  color: #1d77dd;
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
}

.savings--summary {
  background: #f71414;
  border-radius: 5px;
  align-items: center;
  display: flex;
  padding: 5px 13px;
  font-size: 0.875rem;
  font-weight: 500;
  vertical-align: baseline;
  color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 5px;
}
.savings--summary::before{
  content: '';
  display: inline-flex;
  width: 0;
  height: auto;
  margin-right: 5px;
  position: relative;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #FFF transparent transparent transparent;
}
.installmentsNumber::after {
  content: 'x';
  display: inline-block;
  width: 8px;
  height: auto;
  position: relative;
}
.installmentsNumber::after,
.installmentsNumber,
.installmentValue--summary {
  font-weight: bold;
  color: #1d77dd;
}
.spotPrice {
  background: url(https://lojaopescadordeofertas.vtexassets.com/assets/vtex/assets-builder/lojaopescadordeofertas.store/5.6.12/imgs/icone-boleto_verde___90d502946ffaca93e9dfae8e793f0f4b.png) no-repeat;
  width: max-content;
  gap: 5px;
  height: 35px;
  display: flex;
  align-items: center;
  padding-left: 45px;
  margin-bottom: 10px;
  background-size: 33px;
  background-position:0;
  font-weight: 700;
  color: #17b00f;
  font-size: 16px;
}
.savings-discount--summary {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #FFFFFF;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.installmentsNumber.installmentsNumber--wrapperModel-productInstallments,
.currencyContainer.currencyContainer--wrapperModel-productInstallments {
  color: #1d77dd;
  font-weight: 600;
  width: auto;
  display: flex;
  padding: 0 5px;
}

.listPrice--summary {
  margin-bottom: 0.25rem;
  color: #aaa;
  font-size: 14px;
  text-decoration: line-through;
  margin-right: 5px;
}

.installments--summary {
  margin-bottom: 10px;
}

.installments {
  font-size: 14px;
}

.installmentValue--summary{
  font-weight: bold;
  color: #1d77dd;
}

.savings--summaryPercentage {
  background: #222;
  border-radius: 1000px;
  align-items: center;
  display: flex;
}

.savingsPercentage--summaryPercentage {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #FFFFFF;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

:global(.vtex-product-list-0-x-productListUnavailableItemsMessage) {
  font-size: 16px;
  color: #ed9907;
}

:global(.vtex-product-list-0-x-price) {
  font-weight: bold;
  color: #1d77dd;
}

@media(max-width: 767px) {

  :global(.vtex-flex-layout-0-x-flexRowContent--btn-product)
   :global(.vtex-flex-layout-0-x-stretchChildrenWidth)
    :global(.vtex-flex-layout-0-x-flexRowContent){
      margin: -10px 0 0px!important;
      text-align: center;
      justify-content: center;
    }

  .sellingPriceValue {
    font-size: 16px;
  }

  .brandName {
    font-size: 12px;
    font-weight: 700;
    line-height: 17px;
  }

  .installments{
    font-size: 13px !important;
  }

  .nameContainer{
    padding: 0;
  }

  :global(.vtex-flex-layout-0-x-flexRowContent--btn-product)
   :global(.vtex-button){
    margin-top: 20px;
  }

}
@media screen and (max-width: 1024px){
  .spotPrice {
    font-size: 12px;
    background-size: 24px;
    background-position: 0px -1px;
    padding-left: 26px;
    gap: 2px;
  }
  .savings--summary{
    font-size:11px;
    padding:5px;
  }
}
