.container--deals {
  color: #ffffff;
  text-align: center;
  justify-content: center;
}

.container--shelfTitle {
  justify-content: left;
  max-width: 1160px;
  margin: 0 auto 20px;
  border-bottom: 1px solid #ddd;
}

.headingLevel2--shelfTitle {
  color: #1d77dd;
  margin: 40px 0 0;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 9px;
}

.heading--ofertas{
  font-size: 24px;
  margin: 28px 0px 23px;
  color: #fff;
}

.heading--ofertas.headingLevel2--shelfTitle {
  color: #313131;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 20px;
}

:global(.vtex-flex-layout-0-x-flexRow--ofertas){
  background: url(/arquivos/bg-ofertas.jpg);
  background-color: #41a7eb;
  padding-top: 20px;
  background-attachment: fixed;
}

:global(.vtex-flex-layout-0-x-flexRow--ofertas)
 :global(.vtex-slider-layout-0-x-slide--shelf){
    box-sizing: border-box;
    margin: 30px 7px 10px;
    overflow: hidden;
    padding: 2px;
    box-shadow: 0 0 10px #35638c;
    border-radius: 10px;
}

.container--ofertas{
  background-color: #41a7eb;
  border: 0;
  justify-content: center;
}

:global(.vtex-flex-layout-0-x-flexRowContent--ofertas){
  padding-bottom: 40px;
}

.container--deals .paragraph {
  margin: 0;
}

.container--link {
  justify-content: center;
}

.container--question {
  justify-content: center;
}

.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #777;
}

.container--question .strong {
  font-size: 30px;
  line-height: 2rem;
  font-weight: 700;
}

.wrapper--link{
  max-width: 1280px;
  margin: 20px 0;
}

.paragraph--link {
  padding: 0 0 15px 10px;
  margin: 0 0 20px;
  border-bottom: 1px solid #eee;
  color: #777;
  font-size: 14px;
}

.wrapper--PrincipalTitle{
  display: flex;
}

.headingLevel1--PrincipalTitle{
  font-size: 20px;
  margin: 0;
  line-height: 17px;
}

.paragraph--PrincipalTitle{
  margin: 0 0 0 12px;
  border-left: 2px solid #555;
  padding-left: 10px;
  line-height: 17px;
}

.container--PrincipalTitle {
  justify-content: center;
  flex: 1;
  font-size: 20px;
  text-align: center;
  padding: 30px;
  border-bottom: 1px solid #eee;
}

:global(.vtex-titulo-faq) {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #777;
  font-size: 18px;
  text-align: center;
  display: block;
}

.headingLevel2--link{
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 5px;
  color: #333;
}

.wrapper--link .paragraph--link:last-child{
  border: 0;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #333;
}

.container--title {
  color: #333;
  font-size: 28px;
  font-weight: 700;
}

@media(max-width: 1024px){
  .paragraph--PrincipalTitle{
    padding: 0 15px;
    margin: 0;
    font-size: 14px;
  }

  .headingLevel1--PrincipalTitle{
    color: #555;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    padding: 0 15px;
  }

  .container--PrincipalTitle{
    padding: 15px 10px;
  }

}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #333;
    font-size: 40px;
    font-weight: 700;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }
}

:global(.vtex-store-link-0-x-link--categoriasdestaque) {
  color: #333;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
}
.container--sub-deals {
  margin: 0 auto;
}
.paragraph--sub-deals {
  margin: 0;
  color: #fff;
  font-weight: 100;
  font-size: 12px;
}

.container--faq {
  margin: 0 auto;
}

.paragraph--faq {
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  margin: 0;
}

.paragraph--sub-faq {
  text-align: center;
  margin-top: 10px;
  line-height: 17px;
  display: block;
  font-size: 14px;
  color: #000;
  margin: 10px 10px 25px;
}

:global(.vtex-flex-layout-0-x-flexRow--titulo-categorias){
  background-color: #fff;
}

:global(.vtex-rich-text-0-x-container--titulo-categorias){
  border-bottom: 1px solid #ddd;
}

:global(.vtex-rich-text-0-x-wrapper--titulo-categorias) {
  margin: auto;
  color: #d30b0b;
}

:global(.vtex-rich-text-0-x-headingLevel2--titulo-categorias) {
  margin: 0 0 10px;
  font-size: 24px;
  text-transform: uppercase;
}

:global(.vtex-rich-text-0-x-paragraph--shelfTitle){
  text-transform: uppercase;
}

:global(.vtex-text-beneficios){
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  color: #1d77dd;
}

:global(.vtex-rich-text-0-x-paragraph--text-beneficios){
  text-transform: uppercase;
  margin: 10px 0 5px;
  line-height: 20px;
  font-size: 15px;
}

:global(.vtex-slider-layout-0-x-slideChildrenContainer--beneficios)
  :global(.vtex-flex-layout-0-x-flexCol){
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

:global(.vtex-slider-layout-0-x-slideChildrenContainer--beneficios)
  :global(.vtex-flex-layout-0-x-flexColChild){
    margin: 0 5px;
}

@media(max-width: 990px) {
  :global(.vtex-rich-text-0-x-paragraph--text-beneficios){
    font-size: 12px;
    line-height: 16px;
  }

  :global(.vtex-slider-layout-0-x-slideChildrenContainer--beneficios)
   :global(.vtex-store-components-3-x-imageElement){
      width: 28px;
  }

}

.container--text-beneficios{
  display: flex;
  align-items: center;
}
