$breakpoint-mobile: 1023px; 
$breakpoint-tablet: 700px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-large: 1400px;


$color-background: #F0F0F7; 
$color-primary: #1d77dd;
$color-secondary: #fba81a;
$color-primary-light: #c3c2ca;
$color-btn-sucess: #3abf00;
$font-custom: 'Roboto',sans-serif;

$border-color: #c3c2ca;
$border-input: 2px solid $border-color;

$page-width: 1280px;
$url-assets: "https://lojaopescadordeofertas.vtexassets.com/assets/vtex/assets-builder/lojaopescadordeofertas.store/4.4.5/imgs/";